#Jetbrains files
.idea/

# Ignore any ndjson or bin files -> can add exceptions with !folder/*.ndjson
*.ndjson
*.bin
*.npy

# Ignore any large output folders
datasets/
out/
out-*/
logs/
weights/
weights-*/
exports/

# Other repositories
Pokemon_GAN/data/
Pokemon_GAN/images/
Pokemon_GAN/newPokemon/
Pokemon_GAN/model
Pokemon_GAN/*.ipynb
Pokemon_GAN/*.md
Pokemon_GAN/*.jpg
